/* reset of pag*/
*{margin:0; padding: 0; border:0; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 100%;}

/* pagina de entrada */

/* Menu de apresentação de entrada */
@media (min-width:989px){
.menuHorizontal{
    height: 662px;
}

/* CONFIGURAR TAMANHO DA IMAGEM */

.imgPerfil {
    height: 200px;  
    border-radius: 180px;
    margin:30px 10px 0 60px;
    background: white;
}
#imgWelcome{
    align-items: center;
    margin-left: 10px;
    border-radius: 180px;
    background-size:contain;

}

/* texto do conteúdo para paragrafo de apresentação */
#first-artg{
    margin-top: 100px;
}
.artgPerfil{
    color:white;
    font-size:3.5vh;
    margin-top: 10px;
    margin-left: 10px;
    padding: 3px;
}

/* MIDDLE WELCOME */

.middle{
    margin:0 auto;
    margin-left: 200px;
    display: inline-block;
}
#apresentacao{
    font-size: 2.2em;  
    margin-top:50px;
    margin-bottom: 90px;
    text-align: center;
}
/* loading utilizando o materalize  */
.load{
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 70px;
}

/* texto sobre a entrada */

#txtApresentation1{
    margin-left: 120px;
    font-size: 3.2vh;
}

#txtApresentation2{
    margin-left: 40px;
    font-size: 3.2vh;

}

/* redes Sociais  */

#rSocialToWelcome{
    display: inline-flex;
}
.campSocial{
    width: 92px;
    height: 92px;
    display: inline-flex;
   
}
.wel{
    margin-top:10px;
    margin-left: 30px;
}

/* modal */

.mod-cards{
    position: absolute;
    top:0;
    height: 100%;
    width:100%;
    background: rgba(0,0,0,0.5);
    transition: all ease-in-out 5000ms;
}
.mod-cards div{
    background: white; 
    height: 300px;
    width: 500px;
    border:solid 1px black;
    margin:0 auto;
    margin-top: 120px;
}


/* barra de ajuda */
#cont-help{
    margin-left: 1000px;
    display: inline-flex;
    margin-top: 5px;
}
#help{
    display: inline-flex;
    font-size: 1em;
    font-style: unset; 
    height: 30px;
    background-color: #ccc;
    width: 100%;
}
#help label{
    margin-left: 10px;
}

#selectLanguagens{
    border-radius: 2px;
    width:120px;
}
/* topo do menu */
#top{
    height: 160px;
    width:100%;
    background: linear-gradient(#0575e6, #021b79); 
}
#about{
    padding: 10 10 10 10;    
}
.size-ini{
    margin-left: 50px;
    margin-top: 20px;
    height: 120px;
    width: 120px;
    border-radius: 120px;
    background-color: white;
}
.ini{
    font-size: 1.1em;
}
#cont-artg{
    margin-left: 200px;
    margin-top: -115px;
}
.position-top{
    margin-left: 800px;
    margin-top: -80px;
}
.position-top p{
    color:white;
    font-weight: bold;
}
/* aps = pagina de apresentacao */

#aps{
    margin-bottom: 20px;
    margin-left: 10px;

}


/* main  */

.main-aps{
    margin:0 auto;
    width: 989px;
    border:solid 1px red;
}
/* color #383838 cinza claro, color para font de titulos */
.main-aps h1{
    font-size: 2.3em;
    color:#383838;
    margin-top:30px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: normal;
    line-height: 1.7;
}

/* card do conteúdo  */
.cont{
    display: flex;
}
.cont-card{
    height: 400px;
    width: 240px;
    border:solid 1px blue;
    margin: 0 auto;
}

/* img conteudo dos cards com animação */
.img-cont{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    border:solid 1px red;
    margin:0 auto;
    margin-bottom: 60px;
}
.img-cont>img{
    width: 110px!important;
    height: 110px!important;
    border-radius:110px;
    
}
#footer-perf{
    background: linear-gradient(#0575e6, #021b79);   
}
/* barra de rolagem estilizada */
::-webkit-scrollbar{
    width: 5px;
    -webkit-border-radius:10px;
}
::-webkit-scrollbar-track-piece{
    background-color: #ccc;
    -webkit-border-radius:5px;
}
::-webkit-scrollbar-thumb:vertical{
    background-color: #0575e6;
}

}
@media(min-width:360px) and (max-width:420px) {
   .menuHorizontal{height: 120px;} 
   .imgPerfil{padding: 10px;width: 90px;height: 90px; border-radius: 90px;
background-color: aliceblue;margin-top: 15px;}
#imgWelcome{width: 89px; height: 89px; border-radius:89px;margin-left: -10px;}
.artg{margin-top:-80px;}
    .artgPerfil{margin-top: 2px; color:white}
    .ini{text-align: center;}
    #apresentacao{font-size: 5.2vh; text-align: center; 
    margin-bottom: 80px;}
    .load{margin-bottom: 80px;}
    #txtApresentation1{margin-left: 75px;}
    #txtApresentation2{margin-left: 15px;}
    #rSocialToWelcome{
        display: inline-flex;
    }
    .main-aps h1{
        -webkit-animation-duration: 1s;
        -webkit-animation-delay: 1.2s;
    }
    .size-ini{border:solid 1px red; width: 120px;height: 120px; border-radius:120px; margin-left: 100px;}
    .cont-artg{
        margin-left: 100px;
    }
    .aps{align-items: center;}
    .main-aps h1{
        font-size: 3vh;
        font-weight: bold;
        text-align: center;
    }
    .img-cont{width: 100px; 
        height: 100px;
         border-radius: 100px; 
        margin-left: 120px;
    margin-top: 10px;}
        .img-cont p {
            font-size:2.8vh;
            font-weight: bold;
            margin-left: -20px;
            margin-top: 15px;
        }
    .text-cont{margin-top: 80px;
        text-align: center;
        font-weight: 650;
    }
    .btn{margin-left: 70px;}
    .position-top{
        display: none;
    }
    .cont-card{width: 100%; height: 320px;
        border-radius: 10px;
        margin-top:10px;
    }  
}
@media(min-width:430px) and (max-width:900px){
    .menuHorizontal{height: 300px;}
    .imgPerfil{height: 200px; width:200px; border-radius:200px;
         background-color: aliceblue; margin-top: 50px; }
    #imgWelcome{height: 200px; width:200px; border-radius:200px;
        border:solid 1px red; margin-left: -10px;
    }
        .artg{margin-top: 80px;}
    .artgPerfil{color:whitesmoke; font-size: 3.3vh; }
    #apresentacao{
        text-align: center;
        font-size:5.3vh;
        margin-top: 100px;
        margin-bottom: 100px;
    }   
    .load{margin-bottom: 100px;}
    #txtApresentation1{font-size:3vh; margin-left:100px;}
    #txtApresentation2{font-size: 2.6vh;margin-left: 20px;}
    .rSociais{display: inline-flex;}
    #footer-perf{margin-left:100px;}
    .ap{height: 500px;}
}
#apresentacao {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0s;
  }
  .load{
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
  }
  #txtApresentation1{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
  }
  #txtApresentation2{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
  }
  .rSociais{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
  }