<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
 <link rel="stylesheet" href="css/animate.min.css"/>
    <title></title>
</head>
<body>
        <div id="help" class="grey ">
            <div id="cont-help col s12 ">
                <p >A+</p>
                <label>LINGUAGEM</label>
                <select id="selectLanguagens">
                    <option value=""> PORTUGUES <img src=""/></option>
                    <option>INGLÊS <img src=""/></option>
                </select>
            </div>
        </div>
<div class="row">
    <div id="top" class="col s12 m12 l12 blue">
        <div id="about" class="col s12">
                <div class="imgWelcome animated zoomIn"><img src="#" id="" class="size-ini"/></div>
                <div id="cont-artg" class="animated bounceInDown">
                    <p class="artgPerfil ini col s12 ">OTÁVIO GUILHERME</p>
                    <p class="artgPerfil ini col s12 animated ">DESENVOLVEDOR WEB</p>
                    <p class="artgPerfil ini col s12 animated ">FATECANO / SISTEMAS PARA INTERNET</p>
                </div>
        </div>
            <div class="rSociais position-top ">
                <p id="aps" class="col s7">ENTRE EM CONTATO</p><br/>
                <p class="campSocial aps col s2" alt="Meu gitHub"><a href="https://github.com/otaviogui" target="_blank"/><img src="https://png.icons8.com/ios/50/000000/github.png" alt="icon para o perfil do meu gitHub"/></a></p>
                <p class="campSocial aps col s2" alt="Meu Linkedin"><a href="https://www.linkedin.com/in/otavioguilherme" target="_blank"><img src="https://png.icons8.com/color/50/000000/linkedin.png" alt="icon para o perfil do Linkedin"/></a></p>
                <p class="campSocial aps col s2" alt="Meu Whatsapp"><a href="https://api.whatsapp.com/send?phone=5516981315234&text=" target="_blank"><img src="https://png.icons8.com/color/50/000000/whatsapp.png" alt="icon para o whatsapp "/></a></p>
                <p class="campSocial aps col s2" alt="Meu Facebook"><a href="https://www.facebook.com/otavioguilherme.557" alt="Adicione no facebook e entre em contato" target="_blank"><img src="https://png.icons8.com/color/50/000000/facebook.png" alt="icon para o facebook"/></a></p>
                <p class="campSocial aps col s2" alt="Meu E-mail"><a href="taviogui@gmail.com" alt="Envie um E-mail para entrar em contato" target="_blank"><img src="https://png.icons8.com/color/50/000000/gmail.png" alt="icon para o E-mail"/></a></p>
            </div>
    </div>
</div>
    <div class="main-aps container">
        <h1 class="animated bounceIn">   UM POUCO MAIS SOBRE MINHAS HABILIDADES E CONHECIMENTO </h1>
        <div class="cont row"  alt="conteudo informando as habilidades">
                <div class="cont-card col s12 blue lighten-5" alt="card de conteudo com um drop down">
                    <div class="img-cont" alt="img padrao sobre seu contéudo">
                        <img src="https://png.icons8.com/ios/90/000000/trekking-filled.png" alt="icon da suas habilidades"/>
                        <p>HABILIDADES</p>
                    </div>
                        <article class="text-cont" alt="texto sobre as habilidades desenvolvida no seu dia a dia abreviada">
                            HABILIDADES DESENVOLVIDA EM SALA DE AULA E COM TRABALHOS DE FREELANCE QUE TIVE AO DECORRER DA MINHA CARREIRA...
                        </article>
                        <button type="button" class="btn blue" alt="botao para saber mais sobre o assunto desejado"> CONTINUE LENDO</button>
                        <div class="mod-cards" hidden>
                                <div class="">
                                    <p id="textModCards-habilidade"></p>
                                    <select class="opt-mod-skils">

                                    </select>
                                    <p class="textContModChoise"></p>
                                </div>    
                        </div>
                </div>
                <div class="cont-card col s12 blue lighten-5" alt="card de conteudo com um drop down">
                    <div class="img-cont" alt="img padrao sobre seu contéudo">
                        <img src="https://png.icons8.com/ios/90/000000/code-filled.png" alt="icon da suas habilidades"/>
                        <p>TRABALHOS</p>
                    </div>
                        <article class="text-cont" alt="texto sobre os trabalhos desenvolvida no seu dia a dia abreviada">
                            UM POUCO MAIS SOBRE OS MEUS TRABALHOS DESENVOLVIDO, DESDE UM DESIGN ATÉ UM APLICATIVO OU DESENVOLVIMENTO WEB...
                        </article>
                        <button type="button" class="btn blue" alt="botao para saber mais sobre o assunto desejado"> CONTINUE LENDO</button>
                        <div class="mod-cards"hidden >
                                <div class="">
                                    <p id="textModCards-habilidade"></p>
                                    <select class="opt-mod-skils">

                                    </select>
                                    <p class="textContModChoise"></p>
                                </div>    
                        </div>
                </div>
                <div class="cont-card col s12 blue lighten-5" alt="card de conteudo com um drop down">
                    <div class="img-cont" alt="img padrao sobre seu contéudo">
                        <img src="https://png.icons8.com/ios/90/000000/trophy-filled.png" alt="icon da suas habilidades"/>
                        <p>CONQUISTA</p>
                    </div>
                    <article class="text-cont" alt="texto sobre as habilidades desenvolvida no seu dia a dia abreviada">
                        CONQUISTAS TANTO PESSOAL COMO TAMBÉM PROFICIONAL, COM AS MINHAS CERTIFICAÇÕES E RESUMO DAS TRAGETÓRIAS TRILHADA...
                    </article>
                    <button type="button" class="btn blue" alt="botao para saber mais sobre o assunto desejado"> CONTINUE LENDO</button>
                            <div class="" hidden>
                                <p id="textModCards-habilidade"></p>
                                <select class="opt-mod-skils">

                                </select>
                                <p class="textContModChoise"></p>
                            </div>    
                </div>
        </div>
            <form action="" class="" method="get">
                    
                    <div class="input-field col s12">
                        <select>
                            <option value="" >TIPO DO SERVIÇO</option>
                            <option value="" >DESIGN WEB</option>
                            <option value="">DESIGN DE LOGO</option>
                            <option value="">CRIAÇÃO DE BANNER</option>
                            <option value="">CRIAÇÃO DE POST</option>
                            <option value="">SISTEMA DE GERENCIAMENTO</option>
                            <option value="">MARKETING DIGITAL</option>
                            <option value="">MODELAGEM DE BDA</option>
                            <option value="">LEVANTAMENTO DE REQUISITOS</option>
                        </select>
                    </div>
                        <label for=""> NOME *</label>
                        <input type="text" placeholder="ESCREVA SEU NOME" class="input-field">
                        <label for="">E-MAIL *</label>
                        <input type="text" placeholder="EX: EMAIL@EMAIL.COM" class="input-field">
                        <label for="">TELEFONE</label>
                        <input type="text" placeholder="(DD)XXXXX-XXXX" class="input-field">
                        <label for="" >DESCRIÇÃO *</label>
                        <input type="text" id="descricao" class="input-field" placeholder="UMA BREVE DESCRIÇÃO DO SEU PEDIDO">
                        <div class="row">
                            <button  type="button" class="btn blue  darken-1 col s6 ">ENVIAR</button>
                            <button type="reset" class="btn grey lighten-1 col s6"> LIMPAR</button>
                        </div>
                    
            </form>
    </div>
<div class="row">
    <footer class="ap blue col s12">
            <div class="rSociais  col s12" id="footer-perf">
                    <p>ENTRE EM CONTATO</p>
                    <p class="campSocial  col s2 " alt="Meu gitHub"><a href="https://github.com/otaviogui" target="_blank"/><img src="https://png.icons8.com/nolan/50/000000/github.png" alt="icon para o perfil do meu gitHub"/></a></p>
                    <p class="campSocial  col s2" alt="Meu Linkedin"><a href="https://www.linkedin.com/in/otavioguilherme" target="_blank"><img src="https://png.icons8.com/color/50/000000/linkedin.png" alt="icon para o perfil do Linkedin"/></a></p>
                    <p class="campSocial  col s2" alt="Meu Whatsapp"><a href="https://api.whatsapp.com/send?phone=5516981315234&text=" target="_blank"><img src="https://png.icons8.com/color/50/000000/whatsapp.png" alt="icon para o whatsapp "/></a></p>
                    <p class="campSocial  col s2" alt="Meu Facebook"><a href="https://www.facebook.com/otavioguilherme.557" alt="Adicione no facebook e entre em contato" target="_blank"><img src="https://png.icons8.com/color/50/000000/facebook.png" alt="icon para o facebook"/></a></p>
                    <p class="campSocial  col s2" alt="Meu E-mail"><a href="taviogui@gmail.com" alt="Envie um E-mail para entrar em contato" target="_blank"><img src="https://png.icons8.com/color/50/000000/gmail.png" alt="icon para o E-mail"/></a></p>
            </div>

                &copy;OTÁVIO GUILHERME FERREIRA DOS SANTOS
    </footer>
</div>
    <script src="bower_components/aos/dist/aos.js"></script>
    <script type="text/javascript">
        let btn = document.querySelector('.btn').value
        btn.addEventListerne('click', e=>{
            document.getElementsByClassName('div').removeAttribute("hidden")
        })
        window.onload=function(){
                $(document).ready(function() {
                $('select').material_select();
            });
        }
    </script>
</body>
</html>