<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <title></title>
</head>
<body>
        <div class="mo">
                <div class="">
                    otavio sauhsuahushauhsuhasuhaushuahsuha<p>shaushauhsuhasuhuahs</p>
                </div>    
            </div>
    <div id="top">
        <div id="help">
            <p>A+</p>
            <p>Linguagem</p>
        </div>
        <div id="about">
            <div class="imgPerfil-sm" ><img src="img/pi.png" id="imgWelcome"/></div>
            <p class="artgPerfil">OTÁVIO GUILHERME</p>
            <p class="artgPerfil">DESENVOLVEDOR WEB</p>
            <p class="artgPerfil">FATECANO</p>
            <div class="rSociais">
                <p>ENTRE EM CONTATO</p>
                <p class="campSocial" alt="Meu gitHub"><a href="https://github.com/otaviogui" target="_blank"/><img src="https://png.icons8.com/nolan/50/000000/github.png" alt="icon para o perfil do meu gitHub"/></a></p>
                <p class="campSocial" alt="Meu Linkedin"><a href="https://www.linkedin.com/in/otavioguilherme" target="_blank"><img src="https://png.icons8.com/color/50/000000/linkedin.png" alt="icon para o perfil do Linkedin"/></a></p>
                <p class="campSocial" alt="Meu Whatsapp"><a href="https://api.whatsapp.com/send?phone=5516981315234&text=" target="_blank"><img src="https://png.icons8.com/color/50/000000/whatsapp.png" alt="icon para o whatsapp "/></a></p>
                <p class="campSocial" alt="Meu Facebook"><a href="https://www.facebook.com/otavioguilherme.557" alt="Adicione no facebook e entre em contato" target="_blank"><img src="https://png.icons8.com/color/50/000000/facebook.png" alt="icon para o facebook"/></a></p>
                <p class="campSocial" alt="Meu E-mail"><a href="taviogui@gmail.com" alt="Envie um E-mail para entrar em contato" target="_blank"><img src="https://png.icons8.com/color/50/000000/gmail.png" alt="icon para o E-mail"/></a></p>
            </div>
        </div>
    </div>
    <div class="main">
        <h1>   UM POUCO MAIS SOBRE </h1>
        <div class="cont" alt="conteudo informando as habilidades">
            <div class="cont-card" alt="card de conteudo com um drop down">
                <div class="img-cont" alt="img padrao sobre seu contéudo"><img src="" alt="icon da suas habilidades"/></div>
                <article class="text-cont" alt="texto sobre as habilidades desenvolvida no seu dia a dia abreviada">
                    Um texto abrevidado de no maximo 4 ou 5 linhas para colocar dentro da caixa
                </article>
                <input type="button" class="btn" alt="botao para saber mais sobre o assunto desejado">
                
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>